/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ================== */
/* ----- GLOBAL >>>>> */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #e2e3ed;
  /* Deafult text color */
}

a {
  color: #e2e3ed;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

h1 {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 2.125rem;
  line-height: 1.194;
  font-weight: 500;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
}

.reviews h2,
.faq h2 {
  line-height: 1;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

h4 {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.faq-content .h4 {
  line-height: 0.75;
}

p {
  font-size: 0.875rem;
  line-height: 1.286;
}

a {
  text-decoration: none;
}

input {
  font-size: 1.125rem;
  font-weight: 500;
}

.fontawesome-icon {
  font-size: 3.75rem;
}

.social-icons p i {
  font-size: 1.3125rem;
}

address {
  font-style: normal;
}

.copyright p {
  font-size: 1.125rem;
  font-weight: 500;
}

.content-wrapper {
  width: 90%;
  padding: 50px 0;
  /* outline: 2px dotted violet; */
  /* For debugging purposes */
}

/* GLOBAL Background Colors */
header,
footer {
  background-color: #202322;
}

.mission,
.faq,
aside {
  background-color: #527158;
}

.reviews,
.contact-us {
  background-color: #2a423a;
}

/* -------------------- Base Header - Footer Styles -------------------- */

/* HEADER */
header {
  display: flex;
  justify-content: center;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
}

header figure {
  width: 60%;
  margin: 0;
}

header .header-divider {
  width: 100%;
  height: 2px;
  background-color: #3a3a3a;
  margin: 10px 0 20px;
}

header nav {
  width: 60%;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header ul li {
  margin: 0;
}

nav a {
  font-size: 1.125rem;
  font-weight: bold;
  color: #e2e3ed;
  text-transform: uppercase;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .content-wrapper {
  width: 65%;
}

footer .footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h4 {
  margin: 20px 0;
}

footer p {
  margin: 0;
}

.footer-info,
.social {
  margin: 0 0 50px;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 18px;
}

footer .social-icons p {
  background-color: #527158;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

/* <<<<< GLOBAL ----- */
/* ================== */

/* ==========================================================================
   Home Page
   ========================================================================== */

.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: url('/img/unplugged-retreat.jpg') center no-repeat #333;
  background-size: cover;
  min-height: 500px;
}

/* ASIDE */
aside {
  display: flex;
  justify-content: center;
}

aside h3 {
  margin: 20px 0;
}

aside form {
  margin: 30px 0 0;
  /* display: flex;
  justify-content: center;
  flex-flow: column; */
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  justify-items: flex-start;
  background: url('/img/unplugged-retreat-features.jpg') center no-repeat #333;
  background-size: cover;
}

.features h2 {
  margin: 0 0 60px;
}

.features .feature-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.features article {
  width: 63%;
  text-align: center;
}

.features .fontawesome-icon {
  margin: 30px 0 40px;
}

.features p {
  margin: 0 0 30px;
}

/* REVIEWS */
.reviews {
  display: flex;
  justify-content: center;
}

.reviews h2 {
  margin: 0 0 40px;
}

.reviews h3 {
  margin: 20px 0;
}

/* ==========================================================================
   ABOUT Page
   ========================================================================== */


/* MISSION */
.mission {
  display: flex;
  justify-content: center;
}

.map-container {
  position: relative;
  padding-bottom: 125%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CONTACT-US */
.contact-us {
  display: flex;
  justify-content: center;
}


/* ==========================================================================
   FAQs classes
   ========================================================================== */

/* FAQ */
.faq {
  display: flex;
  justify-content: center;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 0 0;
}

.faq h2 {
  margin: 0 0 40px;
}

.faq-item {
  margin: 0 0 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ==========================================================================
   Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) {

  /* ==== Tablet Style Here ==== */

  /* GLOBAL */

  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 1.333;
  }

  .reviews h2,
  .faq h2 {
    line-height: 1;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .contact-us h4,
  footer h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.333;
  }

  footer p {
    line-height: 1.1285;
  }

  .faq h4,
  .faq p {
    font-size: 0.875rem;
    line-height: 0.1.125;
  }

  .content-wrapper {
    padding: 100px 0;
  }

  /* HEADER */
  .header-divider {
    display: none;
  }

  header .content-wrapper {
    justify-content: space-between;
    flex-direction: row;
    padding: 33px 0;
  }

  header figure {
    width: 30%;
  }

  header nav {
    width: 25%;
    padding: 0;
  }

  /* header nav ul {
    justify-content: space-around;
  } */

  /* FOOTER */
  footer .content-wrapper {
    width: 90%;
    padding: 50px 0;
  }

  footer .footer-content {
    justify-content: space-around;
    flex-direction: row;
  }

  footer h4 {
    margin: 0 0 40px;
  }

  .footer-info,
  .social {
    margin: 0;
  }

  footer .footer-info {
    /* width: 33%; */
  }

  footer .social {
    /* width: 33%; */
  }

  /* ==========================================================================
   Home Page - Tablet
   ========================================================================== */


  .hero-area {
    min-width: 600px;
  }

  aside .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    padding: 50px 0;
  }

  aside .form-description,
  aside .form {
    width: 48%;
  }

  .features .content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  .features .feature-items {
    justify-content: center;
    column-gap: 20%;
  }

  .features article {
    width: 32%;
  }

  .features .fontawesome-icon {
    margin: 0 0 30px;
  }

  .reviews .review-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .reviews h3 {
    margin: 0 0 20px;
  }

  .reviews .review-content figure {
    width: 48%;
  }

  .reviews .review-content>div {
    width: 48%;
  }

  /* ==========================================================================
   About Page - Tablet
   ========================================================================== */

  /* MISSION */

  .mission .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 5%
  }

  .map-container {
    padding-bottom: 45.57%;
  }

  /* CONTACT-US */
  .contact-us .contact-us-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* ==========================================================================
   FAQs Page - Tablet
   ========================================================================== */

  .faq .faq-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .faq .faq-item {
    flex-basis: 45%;
  }

  /* === Tablet Style End */
}

/* ==========================================================================
   Desktop
   ========================================================================== */
@media only screen and (min-width: 1200px) {

  /* Desktop Style Here */

  /* GLOBAL */

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3,
  h4 {
    font-size: 1.875rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.333;
  }

  .mission h2,
  .faq h2 {
    font-size: 3rem;
  }

  .faq h4,
  .faq p {
    font-size: 1.125rem;
    line-height: 1;
  }



  /* HEADER */
  header .content-wrapper {
    padding: 15px 0;
  }

  .content-wrapper {
    max-width: 960px;
  }

  footer .footer-content {
    justify-content: space-around;
  }

  /* ==========================================================================
   Home Page - Desktop
   ========================================================================== */

  aside .content-wrapper {
    justify-content: space-around;
    padding: 50px 0;
  }

  aside .form-description,
  aside .form {
    width: 40%;
  }

  .reviews h2 {
    margin: 0 0 50px;
  }

  .features .feature-items {
    justify-content: center;
    column-gap: 10%;
  }

  .features article {
    width: 20%;
  }

  /* ==========================================================================
   About Page - Desktop
   ========================================================================== */

  .map-container {

    padding-bottom: 37.5%;
  }

  /* === Desktop Style End */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}